.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 1425px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow:
        1px 2px 5px rgba(0, 0, 0, 0.1),
        4px 8px 9px rgba(0, 0, 0, 0.08),
        9px 18px 12px rgba(0, 0, 0, 0.05),
        16px 32px 14px rgba(0, 0, 0, 0.03),
        25px 49px 16px rgba(0, 0, 0, 0.01);
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}

.modalHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.modalIcon {
    font-size: 50px;
    /* color: #DA0000; */
}

.modalTitle {
    font-family: Roboto, sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 64.45px;
    text-align: left;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.modalLabel {
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
}

.modalInput {
    padding: 22px;
    font-size: 26px;
    border: 3px solid #999999;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.uploadButton {
    width: 185px;
    height: 73px;
    background: #211935;
    color: #fff;
    border: none;
    border-radius: 8.51px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    cursor: pointer;
}